* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: darkgrey;
  margin-top: auto;

  height: 100vh;
  min-height: 100%;
  align-content: flex-start;
}

.imagen {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.contenedor {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
}
.text-center {
  text-align: center;
}

.columna {
  margin: 1.5em;
  padding: 1.5rem;
}
.texto {
  text-align: justify;
  justify-content: center;
}
footer {
  position: absolute;
  bottom: 0;
}

div {
  align-items: left;
  justify-content: left;
  align-content: flex-start;
}
